* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 3em;
}

.box {
  background-color: #dcc2c4;
  padding: 40px 20px;
  border-radius: 10px;
  align-items: center;
}
a {
  text-decoration: none;
  color: #332202;
  font-weight: 560;
}

.h2 {
  margin-left: 2em;
  font-size: xx-large;
  margin-bottom: -1em;
}
