.categorylist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 3em;
}

section a {
  background-color: #801010;
  padding: 40px 20px;
  border-radius: 10px;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
section a:hover {
  transform: translateY(-10px);
  filter: brightness(1.2);
}

a {
  text-decoration: none;
  color: #ece8d5;
  font-weight: 560;
}

.h2 {
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: -1em;
  font-size: x-large;
}

.categorylist a {
  font-style: italic;
}
