* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.split {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}

.smallpush {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-right: 20px;
}
