.product-content main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  margin: 2em;
}
.product-content article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;
  gap: 0;
}

.product-box {
  display: flex;
  flex-direction: column;
}

.product-box.soldout .img-box {
  filter: grayscale(0.4);
  opacity: 0.4;
}
.product-box.soldout .img-box {
  position: relative;
}
.product-box.soldout .img-box::after {
  content: "Sold Out";
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(43, 43, 43, 0.9);
  color: white;
  padding: 12px 16px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

.img-box {
  width: 100%;
  aspect-ratio: 4 / 5;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.discount-tag {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #e53935;
  color: white;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}
.old-price {
  text-decoration: line-through;
  color: #777;
  margin-right: 8px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.product-title {
  margin: 12px 0 6px;
  padding-bottom: 1em;
}

.category-title {
  margin: 0 0 8px;
  color: #777;
  font-size: 14px;
}
.read-more {
  color: #333;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
}
.read-more:hover {
  color: #801010;
}
