.product_page {
  display: grid;
  grid-template-columns: 1fr 1.5fr 3fr;
  gap: 20px;
  margin-left: 3em;
}

.product_image img {
  width: 400px;
}
.product_info {
  background-color: #801010;
  height: 70%;
  border-radius: 10px;
  padding: 30px;
}
.product_info h1,
h2 {
  color: #edebdd;
}
.product_info p {
  margin-bottom: 20px;
  color: #edebdd;
}

.buy_box {
  background: #801010;
  padding: 30px;
  border-radius: 10px;
  height: 70%;
  width: 70%;
}

.buy_box h2,
p {
  margin-bottom: 10px;
}
.originalprice {
  color: #edebdd;
}
.priceafter {
  display: none;
}
.discounted .originalprice {
  text-decoration: line-through;
}
.discounted .priceafter {
  display: block;
  color: #edebdd;
  font-weight: bold;
}
.discount-tag {
  position: absolute;
  bottom: 15px;
  right: 10px;
  background-color: #e53935;
  color: white;
  padding: 10px 14px;
}

.category {
  color: #edebdd;
  margin-bottom: 20px;
}
.choose {
  color: #edebdd;
}

.buy_box select {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
}

.buy_box button {
  width: 100%;
  padding: 12px;
  background: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
button:disabled {
  background: grey;
  cursor: not-allowed;
}
