body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

h1 {
  margin-bottom: 30px;
}

.product_list_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.product_card {
  text-decoration: none;
  color: black;
  position: relative;
}

.product_card img {
  width: 100%;
  background: #f5f5f5;
}

.category {
  color: gray;
  font-size: 14px;
}

.price {
  font-weight: bold;
}

.prev_price {
  color: gray;
}

.read_more {
  text-decoration: underline;
  margin-top: 5px;
}

.sold_out {
  position: absolute;
  top: 10px;
  left: 10px;
  background: gray;
  color: white;
  padding: 6px 10px;
  font-size: 14px;
}

.discount {
  position: absolute;
  bottom: 0px;
  right: 10px;
  background: red;
  color: black;
  padding: 6px 10px;
  font-weight: bold;
}
