.product_page {
  display: grid;
  grid-template-columns: 1fr 1.5fr 3fr;
  gap: 20px;
  margin-left: 3em;
}

.product_image img {
  width: 400px;
}

.product_info h1 {
  margin-bottom: 20px;
}

.product_info p {
  margin-bottom: 20px;
}

.buy_box {
  background: #801010;
  padding: 30px;
  border-radius: 6px;
  height: 70%;
  width: 70%;
}

.buy_box h2 {
  margin-bottom: 10px;
  color: #edebdd;
}

.category {
  color: #edebdd;
  margin-bottom: 20px;
}
.choose {
  color: #edebdd;
}

.buy_box select {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
}

.buy_box button {
  width: 100%;
  padding: 12px;
  background: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.product_info {
  margin-right: 4em;
}
